body {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
  
  #btn-img {
      width: 55%;
  }

  .play {
    display: flex;
    justify-content: center; 
    height: 180px; 
    width: 150px
  }
  
  #start-button {
    display: flex;
    background-color: rgb(33, 219, 233);
    border-color: white;
    border-radius: 20%;
  }
  
  .play p {
    font-size: 1.2rem;
    font-family: "Verdana"
  }
  
  #game-board {
    display: flex;
    justify-content: center;
    /* width: 900px;
    height: 600px; */
    
    background-image: url(/fun-rain/images/watermelon.png);
    
  }
  