* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: url(../images/raindrops2.jpg) no-repeat;
  background-size: cover;
  /* background-color: rgb(20, 38, 66); */
  margin-top: 4rem;
}

#btn-img {
  width: 55%;
}

.volume {
  display: flex;
  justify-content: flex-start;
  height: 2rem;
  
}

.volume button {
  width: 4rem;
}

button {
  border-radius: 2.75rem;
  font-size: 0.8rem;
  color: rgb(245, 239, 174);
  font-weight: 400;
  border: 1px solid #012880;
  background-image: linear-gradient(-180deg, #ff89d6 0%, #c01f9e 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(22, 75, 195, 0.5),
    0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 480px;
  width: 350px;
}

#start-button {
  cursor: pointer;
  width: 180px;
  height: 200px;
  border-radius: 2.75rem;
  font-size: 2rem;
  font-weight: 600;
  border: 1px solid #012880;
  background-image: linear-gradient(-180deg, #ff89d6 0%, #c01f9e 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(22, 75, 195, 0.5),
    0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

.play p {
  font-size: 1.2rem;
  font-family: "Comic Sans MS";
}

.fun-rain p {
  margin: 2px;
  font-weight: 600;
  font-family: "Comic Sans MS";
  font-size: 72px;
  text-align: center;
  background: linear-gradient(-180deg, #ff89d6 0%, #c01f9e 100%);
  -webkit-background-clip: text;
  border-radius: 2.75rem;
  -webkit-text-fill-color: transparent;
  box-shadow: 0 1rem 1.25rem 0 rgba(22, 75, 195, 0.5),
    0 -0.25rem 1.5rem rgba(110, 15, 155, 1) inset,
    0 0.75rem 0.5rem rgba(255, 255, 255, 0.4) inset,
    0 0.25rem 0.5rem 0 rgba(180, 70, 207, 1) inset;
}

#game-board {
  display: flex;
  justify-content: center;
  background-image: url(/fun-rain/images/watermelon.png);
  position: relative;
}

#current-fruit {
  width: 120px;
}

em {
  font-size: 1.5rem;
}

#canvas {
  cursor: pointer;
  padding-right: 3rem;
}
